<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form action ="/team" method="POST">
        <p>Team Name: <input type="text" name=name placeholder = "Enter Team Name">
        <p>Coach: <input type="text" name=coach placeholder = "Enter Coach Name">
        <p>Point Guard: <input type="text" name=pg placeholder = "Enter Point Guard Name">
        <p>Shooting Guard: <input type="text" name=sg placeholder = "Enter Shooting Guard Name">
        <p>Small Forward: <input type="text" name=sf placeholder = "Enter Small Forward Name">
        <p>Power Forward: <input type="text" name=pf placeholder = "Enter Power Forward Name">
        <p>Center: <input type="text" name=c placeholder = "Enter Center">
        <p><input type="submit" value = "Submit"></p>
 </body>
</html>


